:root {
  --themeColor: #db2153;
}

body {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/login-background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.input-field {
  border: 1px solid;
  border-color: var(--themeColor);
}

.input-field::placeholder {
  color: #232222;
  font-size: 13px;
}

.btn {
  background-color: var(--themeColor);
  border: none;
  width: 100%;
}
.signup-link {
  color: var(--themeColor);
}
